---
title: Director
---

%h1= current_page.data.title

.clearfix
	=image_tag "throckmorton.jpg", class: "right", style: "margin: 5px;"
	%h3 Amy L. Throckmorton, PhD
	%p
		Associate Professor
		%br
		School of Biomedical Engineering
		%br
		Science and Health Systems
		%br
		Bossone Research Enterprise Center
		%br
		3141 Chestnut Street, Rm. 718
		%br
		Philadelphia, PA 19104
		%br
		E-mail:
		=mail_to "amy.throckmorton@drexel.edu"
		%br
		Phone: (215) 895-2791
		%br
		Cell: (757) 646-3790
		%br
		Fax: (215) 895-4983

%p
	Amy Throckmorton, Ph.D., is an Associate Professor in the School of Biomedical Engineering, Science and Health Systems at Drexel University. She leads an interdisciplinary, federally funded research program that innovates and develops life-saving therapeutic devices and new treatment strategies at the intersection of pediatric medicine and cardiovascular engineering. Dr. Throckmorton recently held a Visiting Professorship in the Department of Cardiac Surgery at Thomas Jefferson University. Here she expanded her research into neurovascular and cerebral hemodynamics to elucidate the impact of blood pumps on cerebrospinal fluid motility. Dr. Throckmorton serves as an Associate Editor of the <em>IEEE Transactions of Biomedical Engineering, Cardiovascular Engineering and Technology, Artificial Organs, and ASAIO Journal</em>. She is also a member of the Center for Scientific Review (CSR) Bioengineering, Technology and Surgical Sciences (BTSS) Review Panel. Her strong track record of extramural funding consists of grant awards from the National Institutes of Health, National Science Foundation, American Heart Association, Hartwell Foundation, International Society for Heart and Lung Transplantation, Medtronic, U.S. Department of Education, Thomas Jefferson University, Commonwealth of Pennsylvania, and The Children’s Hospital of Philadelphia. She has more than 75 publications, 80 national and international conference presentations, 7 patent awards, and 20 honors for research and teaching, including a prestigious <em>Drexel University Distinguished Career Lindback Teaching Award and Fellow of the Executive Leadership in Academic Technology, Engineering and Science (ELATES) Program</em>. In collaboration with her community allies, she continues to lead a cross-University COVID-19 rapid response team that has distributed more than 54,000 durable and re-usable face shields to national and international hospital systems, EMS organizations, police departments, community shelters, home healthcare agencies, rehabilitation and nursing home facilities, and educational institutions.