---
title: Students and Interns
---

%h2 PhD Candidates
%hr

%h3 Ellen Garven
%h6 Biomedical Engineering
%p Ellen is a PhD student in Biomedical Engineering. She earned her BS as a double major in Physics and Mathematics at Tufts University. Ellen uses computational fluid dynamics to study congenital heart defect therapies, specifically the hemodynamics of systemic-to-pulmonary shunts. When not in lab, Ellen enjoys volunteering and playing the violin.

%h3 Matthew Hirschhorn
%h6 Biomedical Engineering
%p Matt earned his B.E. in Biomedical Engineering from Vanderbilt University. He is currently a MS/PhD student in Biomedical Engineering and his research focuses on investigating the effects of fluid-structure interactions for a collapsible impeller in an axial pump designed to support Fontan patients. Before returning to school to pursue his doctorate, Matt worked in youth development in Washington, DC. He is passionate about the power of education and plans to remain in academia as a professor upon completion of his PhD.


%h2 PhD Students
%hr

%h3 Thomas Palazzolo   
%h6 Biomedical Engineering
%p Thomas Palazzolo, MS, is currently working towards his PhD in Biomedical Engineering at Drexel University. He comes from two years of experience working as a project engineer in the medical device field. In addition, Thomas has worked as an adjunct engineering professor at his alma mater, Villanova University, where he received both a bachelor's and a master's degree in mechanical engineering. Thomas's research focuses on development of a pediatric ventricular assist device which utilizes multiple pumps and a novel switching mechanism to create a design which can successfully support patients across the pediatric age range, greatly improving patient outcomes. Thomas plans to utilize a combination of computational analysis and experimental testing to produce a robust and effective design. Outside of the laboratory, Thomas has a passion for music and spends time working on classic cars and motorcycles.

%h3 Waleed Iqbal
%h6 Biomedical Engineering
%p Waleed Iqbal is a PhD student in Biomedical Engineering. He has a strong educational background in Cell and Molecular Biology (Minor: History) and received his M.S degree and graduate certification in Drug Discovery and Development from Drexel University College of Medicine. In 2018, Waleed joined Biomedical Engineering at Drexel seeking his doctorate in bioinformatics, including genome information engineering, advanced biocomputational languages, and applied machine learning. He is conducting his research at the Children’s Hospital of Philadelphia with a goal of improving pediatric cancer treatments and further his teaching goals of making complex science more accessible. 


%h3 Natalie Napolitano
%h6 Biomedical Engineering
%p Natalie earned a BS in Respiratory Therapy from Gannon University and a MPH in Health Policy from George Washington University.  She is currently a M.S./Ph.D. student in Biomedical sciences and her research focuses on the use of Non-invasive ventilation in pediatric patients and determining the time point in care to predict failure of this therapy.  Natalie currently works full time as a Respiratory Therapy researcher at the Children's Hospital of Philadelphia designing clinical and bench research describing the practice of the Respiratory Therapist and the therapeutics, they deliver to pediatric patients such as mechanical ventilation and aerosolized medication.  She plans to continue her career as a clinical researcher upon completion of her Ph.D.


%h2 Masters Students
%hr

%h3 Briana Heintzelman  
%h6 Biomedical Engineering
%p Briana Heintzelman is a BS/MS Biomedical Engineering student with a concentration in medical imaging. She has gained research experience at the Children’s Hospital of Philadelphia and the University of Pennsylvania, as well as industry R&D experience at Johnson & Johnson’s Depuy Synthes. For her master’s thesis project, she is working on a computational model of the interactions between the cardiovascular system and cerebrospinal fluid circulation to study the effects of continuous vs pulsatory circulatory assist devices on cerebrospinal fluid dynamics. Outside of academia Briana enjoys racing mountain bikes, rock climbing, and yoga. 

%h3 Victor Mishin  
%h6 Biomedical Engineering
%p Victor Mishin is pursuing a BS/MS in Biomedical Engineering at Drexel with a concentration in Biomaterial and Tissue Engineering. For his master's thesis project, he is working on optimizing a geometrically tunable blood shunt to support the single ventricle circulations of pediatric patients born with congenital heart diseases. He is originally from Southampton, Pennsylvania and has co-op experience at The Secant Group in Telford, PA and Drexel University in Philadelphia, PA. When not in lab, you can find him studying with friends on campus or serving his local church and community in Northeast Philadelphia.

%h3 Brandon Tsang   
%h6 Biomedical Engineering
%p Brandon Tsang is pursuing a BS/MS in Biomedical Engineering with a concentration in biomechanics here at Drexel. He is originally from Odenton, Maryland, and spent his last co-op in the Bio-Circ Lab assisting with the Drexel Dragon Heart technology. This experience inspired him to make contributions to the health care industry, and further pursue a career in research and development for pediatrics. Outside of the lab, you can find him pursuing any of his hobbies, such as weightlifting, snowboarding, or troubleshooting 3D printers. 


%h2 Research Interns
%hr

%h3 Gabriella Kupsho   
%h6 Biomedical Engineering
%p Gabby is a senior BS+MD Biomedical Engineering student with a concentration in Tissue Engineering who will be graduating from Drexel University this June. She has been a part of the BioCirc lab since her freshman year summer where she worked as a STAR student and contributed to the team's cardiac shunt project, which was recently published in the Frontiers in Bioengineering and Biotechnology journal. She volunteered at Thomas Jefferson University Hospital where she shadowed a cardiothoracic surgeon and observed in the OR. She is currently working on her Senior Design project with two teammates where they seek to develop a better method for neonate PKU health screening. Her research interests lie in engineering and cardiac devices. Upon graduation, she plans to either attend the Drexel College of Medicine or continue her education in a Biomedical Engineering Masters or PhD program.

