/ .home-panel
%h3 Recent News
- data.honors[0..2].each_with_index do |item, i|
  - if item.length > 300
    %p= item[0..136] + "..."
  - elsif item.length < 300
    %p= item
  - if i < 2
    %hr
%p
  = link_to "Read More", "news/honors-and-awards", class: "more-button-blue"
